<div class='announcement-bar'>
	{{ section.settings.c_announcemet }}
</div>

{% schema %}
  {
    "name": "Custom Announcement",
    "settings": [
        {
			"type":"text",
            "id":"c_announcemet",
            "label":"Announcement Text",
            "default":"Wellcome to my store"
        }
	]
  }
{% endschema %}
