<style></style>

<div class="my-header">
  <div class="header-logo">This is logo</div>
  <div class="navbar">This is navbar</div>
  <div class="icon-list">
    <div class="search-bar">this is search bar</div>
    <div class="shopping-icon">this is shopping icon</div>
   </div>
</div>

{% schema %}
  {
    "name": "Custom Header",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
