<style>
  .my-header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    align-items: center;
    text-align: center;
    background: {{ section.settings.text_color }};
    color: white;
    border-bottom: solid 5px #00F260;
  }
</style>

<div class="my-header">
  <div class="header-logo">This is logo</div>
  <div class="navbar">This is navbar</div>
  <div class="icon-list">
    <div class="search-bar">this is search bar</div>
    <div class="shopping-icon">this is shopping icon</div>
   </div>
</div>

{% schema %}
  {
    "name": "Custom Header",
    "settings": [
		{
             "type": "color",
             "id": "text_color",
             "label": "Header Background Color",
             "default": "#8f94fb"
         }
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
